@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

.my-logo {
  font-family: 'Dancing Script', cursive;
}

.cu_btn.tag_btn {
  color: #111015;
  text-transform: none;
}

@media (min-width: 990px) {
  .skill-container {
    width: 85%;
    margin-left: auto;
  }
}

#success {
  color: green;
}

.sidebar_part .single_sidebar .sidebar_tag_list .cu_btn {
  margin: 0 7px 10px 0;
  padding: 14px 22px;
}

.cu_btn.tag_btn {
  font-size: 18px;
  cursor: default;
}

.contact_form textarea,
.contact_form .cu_btn,
.cu_input {
  border-radius: 5px;
}

.whatsapp {
  font-size: 1.6em;
}

.my-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-icon {
  margin-right: 3em;
}

@media (max-width: 768px) {
  .my-logo {
    font-size: 1.5em;
  }

  .phone-icon {
    margin-right: 2em;
  }
}

.my-nav {
  align-items: center;
}


.single_contact_form label {
  color: white;
}