@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito:wght@300;400;600;700;800;900&family=Russo+One&family=Spartan:wght@700;800;900&display=swap");
:root {
  --dark: #111111;
  --lightDark: #191919;
  --light: #ffffff;
}

body {
  color: var(--light);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Nunito', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: var(--light);
  text-decoration: none;
}

main {
  background: var(--dark);
  height: 100vh;
}

main .hero-section {
  width: 80%;
  margin: 0 auto;
  max-width: 1600px;
}

main .hero-section .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1170px;
}

main .hero-section .navbar .logo {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  font-weight: 700;
}

main .hero-section .navbar h2 {
  margin-top: 0.5em;
}

main .hero-section .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .hero-section .navbar .nav-links div {
  cursor: pointer;
}

main .hero-section .navbar .nav-links .moon-icon {
  display: none;
}

main .hero-section .navbar .nav-links .phone-icon:hover {
  -webkit-animation: shake 4s ease-in-out infinite;
          animation: shake 4s ease-in-out infinite;
}

main .hero-section .navbar .nav-links .whatsapp-icon-img {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

main .hero-section .navbar .nav-links .whatsapp-icon-img:hover {
  -webkit-animation: popShake 4s ease-in-out infinite;
          animation: popShake 4s ease-in-out infinite;
}

main .hero-section .navbar .nav-links .sun-icon-img {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

main .hero-section .navbar .nav-links .sun-icon-img:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

main .hero-section .navbar .nav-links div + div {
  margin-left: 2.5em;
}

main .hero-section .hero-section-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  width: 100%;
  left: 0;
}

main .hero-section .hero-section-text .hero-content {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 2em;
}

main .hero-section .hero-section-text .hero-content h1 {
  font-size: 4em;
  font-family: 'Spartan', sans-serif;
  margin: 0;
}

main .hero-section .hero-section-text .hero-content p {
  font-family: 'Merriweather', serif;
  font-style: italic;
  margin: 1.25em 0 2.25em;
}

main .hero-section .hero-section-text .hero-content .about-me-btn {
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ef3837), to(#f06248));
  background-image: linear-gradient(#ef3837, #f06248);
  padding: 0.6em 1.25em;
  font-weight: 800;
  position: relative;
  cursor: pointer;
}

main .hero-section .hero-section-text .hero-content .about-me-btn:hover .right-arrow {
  right: -25%;
}

main .hero-section .hero-section-text .hero-content .right-arrow {
  position: absolute;
  top: 10%;
  right: -20%;
  -webkit-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out;
}

main .hero-section .about-section {
  width: 90%;
  max-width: 1200px;
  height: 700px;
  background: var(--lightDark);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .hero-section .about-section .about-me {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .hero-section .about-section .about-me .about-me-text {
  width: 65%;
  margin: 0 auto;
}

main .hero-section .about-section .about-me .about-me-text .about-me-subtitle {
  font-size: 0.8em;
}

main .hero-section .about-section .about-me .about-me-text .top-skills-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5em;
}

main .hero-section .about-section .about-me .about-me-text .top-skills-icons h2 {
  margin-top: 0.5em;
}

main .hero-section .about-section .about-me .about-me-text .top-skills-icons .tooltip {
  background-color: #8CC84B;
  color: var(--dark);
  padding: 0.5em 1em;
  border-radius: 50px;
}

main .hero-section .about-section .about-me .about-me-text .top-skills-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .hero-section .about-section .about-me .about-me-text .top-skills-icons div + div {
  margin-left: 2em;
}

main .hero-section .about-section .illustration {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .hero-section .about-section .illustration .coder-img {
  width: 100%;
}

@-webkit-keyframes breathing {}

@keyframes breathing {}@-webkit-keyframes popShake {
  0% {
    -webkit-transform: scale(1.1) rotate(0deg);
            transform: scale(1.1) rotate(0deg);
  }
  2% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  4% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  6% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  8% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  10% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  12% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  14% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  16% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  18% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  20% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  22% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  24% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  26% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  28% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  30% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  32% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  34% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  36% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  38% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  40% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  42% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  44% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  46% {
    -webkit-transform: scale(1.1) rotate(0deg);
            transform: scale(1.1) rotate(0deg);
  }
}@keyframes popShake {
  0% {
    -webkit-transform: scale(1.1) rotate(0deg);
            transform: scale(1.1) rotate(0deg);
  }
  2% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  4% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  6% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  8% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  10% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  12% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  14% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  16% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  18% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  20% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  22% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  24% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  26% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  28% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  30% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  32% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  34% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  36% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  38% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  40% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  42% {
    -webkit-transform: scale(1.1) rotate(-10deg);
            transform: scale(1.1) rotate(-10deg);
  }
  44% {
    -webkit-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  46% {
    -webkit-transform: scale(1.1) rotate(0deg);
            transform: scale(1.1) rotate(0deg);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: scale(1.1) translate3d(0em, 0, 0);
            transform: scale(1.1) translate3d(0em, 0, 0);
  }
  2% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  4% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  6% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  8% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  10% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  12% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  14% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  16% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  18% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  20% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  22% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  24% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  26% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  28% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  30% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  32% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  34% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  36% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  38% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  40% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  42% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  44% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  46% {
    -webkit-transform: scale(1.1) translate3d(0em, 0, 0);
            transform: scale(1.1) translate3d(0em, 0, 0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: scale(1.1) translate3d(0em, 0, 0);
            transform: scale(1.1) translate3d(0em, 0, 0);
  }
  2% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  4% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  6% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  8% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  10% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  12% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  14% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  16% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  18% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  20% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  22% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  24% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  26% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  28% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  30% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  32% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  34% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  36% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  38% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  40% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  42% {
    -webkit-transform: scale(1.1) translate3d(0.05em, 0, 0);
            transform: scale(1.1) translate3d(0.05em, 0, 0);
  }
  44% {
    -webkit-transform: scale(1.1) translate3d(-0.05em, 0, 0);
            transform: scale(1.1) translate3d(-0.05em, 0, 0);
  }
  46% {
    -webkit-transform: scale(1.1) translate3d(0em, 0, 0);
            transform: scale(1.1) translate3d(0em, 0, 0);
  }
}
/*# sourceMappingURL=style.css.map */